Navaneeth Krishnan
24-08-22

Programs to handle data using Pandas
15.Write a Pandas program to create and display a Series.

In [5]:
import pandas as pd
arr=[0,1,2,3]
a=pd.Series(arr)
print(a)

0    0
1    1
2    2
3    3
dtype: int64

16.Write a Pandas program to add, substract, multiply and divide two Pandas Series

In [15]:
import pandas as pd
arr1=[1,2,3,4]
arr2=[5,6,7,8]
a=pd.Series(arr1)
b=pd.Series(arr2)
print("Sum :\n",a+b)
print("Difference :\n",a-b)
print("Product :\n",a*b)
print("Division :\n",a/b)

Sum :
 0     6
1     8
2    10
3    12
dtype: int64
Difference :
 0   -4
1   -4
2   -4
3   -4
dtype: int64
Product :
 0     5
1    12
2    21
3    32
dtype: int64
Division :
 0    0.200000
1    0.333333
2    0.428571
3    0.500000
dtype: float64

17.Write a panda program to create a single dataframe and save it as a csv file

In [56]:
import pandas as pd
import numpy as np
data={"Name": ['John','Joseph','Anil'],"Mark": [50, 40,np.nan]}
df=pd.DataFrame(data)
print(df)
df.to_csv('exam_data.csv',index=False)
pd.read_csv('exam_data.csv')

     Name  Mark
0    John  50.0
1  Joseph  40.0
2    Anil   NaN

     Name  Mark
0    John  50.0
1  Joseph  40.0
2    Anil   NaN

18.Write a Pandas program to create and display a DataFrame from a specified dictionary data(10 records) which has the fields 1)name 2)Score 3)Attempts 4)Qualify
a)select the 'name' and ‘qualify’ columns from the following DataFrame
b)select the rows where the number of attempts in the examination is greater than 2
c)count the number of rows and columns of the DataFrame
d)Number of attempts in the examination is less than 2 and score greater than 10

In [58]:
import pandas as pd
data={'Name':['John','Joseph','Anil','Tom','Tony','Jerry','Jacob','Athul','Nibin','Dibin'],
      'Score':[18,20,7,5,15,19,16,10.5,8,20],
      'Attempts':[1,2,3,4,1,2,1,3,2,4],
      'Qualify':['Yes','Yes','No','No','Yes','Yes','Yes','Yes','No','Yes']
     }
df=pd.DataFrame(data)
print(df[['Name','Qualify']])
print('\n Number of attempts grearter than two :\n')
print(df[df['Attempts']>2])
print('\n Number of rows and columns in the Data Frame :\n')
print(len(df.axes[0]),'and',len(df.axes[1]))
print('\n Number of attempts in the examination is less than 2 and score greater than 10 :\n')
print(df[(df['Attempts']<2)&(df['Score']>10)])
df.describe()

     Name Qualify
0    John     Yes
1  Joseph     Yes
2    Anil      No
3     Tom      No
4    Tony     Yes
5   Jerry     Yes
6   Jacob     Yes
7   Athul     Yes
8   Nibin      No
9   Dibin     Yes

 Number of attempts grearter than two :

    Name  Score  Attempts Qualify
2   Anil    7.0         3      No
3    Tom    5.0         4      No
7  Athul   10.5         3     Yes
9  Dibin   20.0         4     Yes

 Number of rows and columns in the Data Frame :

10 and 4

 Number of attempts in the examination is less than 2 and score greater than 10 :

    Name  Score  Attempts Qualify
0   John   18.0         1     Yes
4   Tony   15.0         1     Yes
6  Jacob   16.0         1     Yes

           Score   Attempts
count  10.000000  10.000000
mean   13.850000   2.300000
std     5.735126   1.159502
min     5.000000   1.000000
25%     8.625000   1.250000
50%    15.500000   2.000000
75%    18.750000   3.000000
max    20.000000   4.000000